<ion-view title="Ajuda" id="ajuda">
    <ion-content padding="true" class="has-header">
        <img ng-src="img/ideia.png" width="30%" height="auto" style="display: block;margin-left: auto;margin-right: auto;">
        <h4 style="color:gray; text-align:center;">Ajuda CitizenMap</h4>
        <p style="text-align: center;">Consulte abaixo um guia de uso da aplicação.</p>
        <h4 style="text-align: center;">O que é o Citizen Map?</h4>
        <p style="text-align: center">
            O Citizen Map é um aplicativo urbano com o objetivo de fornecer espaço e ambiente aos usuários para realização de avaliações sobre os serviços públicos essenciais fornecidos em suas regiões.
        </p>
        <h4 style="text-align: center;">Como o Citizen Map pode ser útil?</h4>
        <p style="text-align: center">
            A partir das avaliações dos usuários, o Citizen Map disponibiliza informações sobre a qualidade dos serviços públicos essenciais prestados por toda a cidade.
        </p>
        <h4 style="text-align: center;">O que são avaliações?</h4>
        <p style="text-align: center">
            Avaliações são uma ferramenta utilizada pelos usuários do Citizen Map para medição da qualidade dos serviços públicos. São realizadas utilizando uma nota baseada em uma escala de resposta psicométrica habitualmente utilizada em questionários chamada escala <i>Likert</i>.
        </p>
        <h4 style="text-align: center;">O que é necessário para utilizar o Citizen Map?</h4>
        <p style="text-align: center">
            Para o acesso e a utilização do Citizen Map é necessário o uso de um Smartphone com acesso à internet.
        </p>
        <h5 style="text-align: center">Inscrição</h5>
        <ul>
            <li><b>1</b> Selecione a opção Efetuar Cadastro.</li>
            <li><b>2</b> Insira seu nome, sobrenome, E-mail e senha. Em seguida selecione a cidade e o bairro onde mora.</li>
            <li><b>3</b> Selecione Efetuar Cadastro para concluir a criação da conta.</li>
        </ul>
        <h5 style="text-align: center">Informações Importantes sobre a Inscrição</h5>
        <ul>
            <li><i class="icon ion-ios-information"></i> Um endereço de E-mail só pode estar associado a uma conta de usuário.</li>
            <li><i class="icon ion-ios-information"></i> Sua senha precisa ter no mínimo 6 dígitos.</li>
            <li><i class="icon ion-ios-information"></i> É possível se conectar ao Citizen Map a partir de uma conta do Facebook.</li>
            <li><i class="icon ion-ios-information"></i> Os seus dados não ficam visíveis publicamente para outros usuários.</li>
        </ul>
        <hr>
        <p style="text-align: center; font-style: italic">
            Depois de se inscrever e confirmada a criação da conta, você já está habilitado a acessar o aplicativo e realizar avaliações sobre os serviços públicos essenciais da sua região.
        </p>
        <hr>
        <h4 style="text-align: center;">Usando o Citizen Map</h4>
        <h5 style="text-align: center">Realizando Avaliação</h5>
        <ul>
            <li><b>1</b> Ao acessar o aplicativo, a partir da tela Principal você poderá realizar uma avaliação ao escolher um serviço público essencial entre as opções disponíveis.</li>
            <li><b>2</b> Na tela de Avaliação você poderá dar uma a nota para a qualidade da prestação do serviço público essencial escolhido.</li>
            <li><b>3</b> Você poderá selecionar uma descrição que melhor explique a nota da sua avaliação.</li>
            <li><b>4</b> Selecione Avaliar para registrar a avaliação.</li>
        </ul>
        <h5 style="text-align: center">Informações Importantes sobre a Avaliação</h5>
        <ul>
            <li><i class="icon ion-ios-information"></i> Poderá ser realizada uma avaliação para cada opção de serviço público essencial a cada 30 dias.</li>
            <li><i class="icon ion-ios-information"></i> As notas dadas nas avaliações são de 1 a 5, onde:</li>
            <div style="text-align: center">
                <p><b>Nota 1</b> - <i style="color: #FF0000;">Extremamente Ruim</i></p>
                <p><b>Nota 2</b> - <i style="color: #FFA07A;">Ruim</i></p>
                <p><b>Nota 3</b> - <i style="color: #FFD700;">Razoável</i></p>
                <p><b>Nota 4</b> - <i style="color: #ADFF2F;">Bom</i></p>
                <p><b>Nota 5</b> - <i style="color: #90EE90;">Excelente</i></p>
            </div>
            <li><i class="icon ion-ios-information"></i> É possível se conectar ao Citizen Map a partir de uma conta do Facebook.</li>
            <li><i class="icon ion-ios-information"></i> Os seus dados não ficam visíveis publicamente para outros usuários.</li>
        </ul>
        <h5 style="text-align: center">Utilizando o Mapa</h5>
        <p style="text-align: center">
            Os mapas têm a função de disponibilizar de forma visual e simples os dados registrados pelas avaliações realizadas pelos usuários sobre qualidade dos serviços públicos.
        </p>
        <ul>
            <li><i class="icon ion-ios-information"></i> Os mapas podem ser visualizados através do Menu, selecionando a opção Mapas ou ao registrar uma avaliação.</li>
            <li><i class="icon ion-ios-information"></i> Ao ser acessado pelo Menu, são disponibilizadas duas opções de visualização:</li>
            <hr>
            <div style="text-align: center; font-style: italic">
                <li><b>Avaliações</b>: Visualize a localização exata de cada avaliação. Possibilitando a visualização das áreas com maior número de avaliações.</li>
                <li><b>Médias</b>: Visualize as médias e os detalhes mais utilizados nas avaliações de cada serviço público essencial das cidades ou bairros avaliados. Possibilita a comparação visual das médias dos bairros ou cidades, destacando os territórios em cores.</li>
            </div>
            <hr>
            <li><i class="icon ion-ios-information"></i> Os territórios são destacados no mapa de acordo com suas fronteiras. Cores são atribuídas ao território de bairros e cidades avaliadas indicando o nível de média de suas avaliações.</li>
            <hr>
            <div style="text-align: center; font-style: italic">
                <li><b>Médias de 0 a 2 – Nível Ruim</b>: É atribuída a cor vermelha e suas tonalidades.</li>
                <li><b>Médias de 2 a 3 – Nível Razoável</b>: É atribuída a cor amarela e suas tonalidades.</li>
                <li><b>Médias de 3 a 5 – Nível Bom</b>: É atribuída a cor verde e suas tonalidades.</li>
            </div>
            <hr>
            <li><i class="icon ion-ios-information"></i> Disponibilizam também o detalhe mais utilizado nas avaliações de cada serviço público essencial.</li>
            <li><i class="icon ion-ios-information"></i> Se visualizado ao registrar uma avaliação, o mapa disponibilizará as informações por bairro e pelo serviço público escolhido para realização da avaliação.</li>
        </ul>
        <h5 style="text-align: center">Minha Conta</h5>
        <h6 style="text-align: center">Alterar Dados</h6>
        <ul>
            <li><b>1</b> Acesse o seu Perfil a partir do Menu.</li>
            <li><b>2</b> Selecione o campo do dado que deseja alterar.</li>
            <li><b>3</b> Insira ou selecione o novo dado.</li>
            <li><b>4</b> Salve suas alterações. Basta clicar em Salvar Alterações</li>
        </ul>
        <h6 style="text-align: center">Alterar Senha</h6>
        <ul>
            <li><b>1</b> Acesse o seu Perfil a partir do Menu.</li>
            <li><b>2</b> Na tela de Perfil, selecione a Alterar Senha.</li>
            <li><b>3</b> Preencha o campo Senha Atual e insira uma nova senha no campo Senha Nova.</li>
            <li><b>4</b> Salve sua nova senha clicando em Alterar.</li>
        </ul>
    </ion-content>
</ion-view>