<ion-view title="Cadastro" id="cadastro">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h5 id="cadastro-heading4" style="color:#000000;text-align:center;">Dados Pessoais</h5>
            <ion-list>
                <label class="item item-input" name="nome">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" name="sobrenome">
                    <span class="input-label">Sobrenome</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" name="email">
                    <span class="input-label">E-mail</span>
                    <input type="email" placeholder="">
                </label>
            </ion-list>
            <h5 id="cadastro-heading5" style="color:#000000;text-align:center;">Dados de Acesso</h5>
            <label class="item item-input" name="senha">
                <span class="input-label">Senha</span>
                <input type="password" placeholder="8 Dígitos">
            </label>
            <h5 id="cadastro-heading6" style="color:#000000;text-align:center;">Configurações</h5>
            <ion-checkbox name="alertaemail">Enviar Alertas de E-Mail</ion-checkbox>
            <button id="cadastro-button5" class="button button-positive  button-block">Finalizar Cadastro</button>
        </form>
    </ion-content>
</ion-view>