<ion-view title="Citizen Map" hide-back-button="true" id="page1">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/QhQOOD33SmOyl3ApUEYz_mendix developers-01.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="citizenMap-heading1" style="color:#000000;text-align:center;">Bem Vindo ao Citizen Map!</h1>
        <div id="citizenMap-markdown1" style="color:#000000;text-align:center;">
            <p>Avalie os serviços públicos de sua região!</p>
        </div>
        <a ui-sref="menu.login" id="citizenMap-button1" class="button button-positive  button-block">Login</a>
        <a ui-sref="menu.cadastro" id="citizenMap-button2" class="button button-stable  button-block">Cadastro</a>
    </ion-content>
</ion-view>