<ion-view title="Citizen Map" id="entrada">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/QhQOOD33SmOyl3ApUEYz_mendix developers-01.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="citizenMap-heading1" style="color:#000000;text-align:center;">Bem Vindo ao Citizen Map!</h1>
        <div id="citizenMap-markdown1" style="color:#000000;text-align:center;">
            <p>Avalie os serviços públicos de sua região!</p>
        </div>
        <a ui-sref="login" id="entrda-button1" class="button button-positive  button-block">Entrar</a>
        <a ui-sref="login" id="entrda-button1" class="button button-positive  button-block"><i class="fa fa-facebook-official" aria-hidden="true"></i> Entrar via Facebook</a>
        <a ui-sref="cadastro" id="entrada-button2" class="button button button-calm  button-block">Cadastro</a>
    </ion-content>
</ion-view>