<ion-view title="Pós Avaliação" hide-back-button="true" id="posAvaliacao">
    <ion-content padding="true" class="has-header" ng-controller="posAvaliacaoCtrl">
        <div class="button-bar"></div>
        <div>
            <img src="img/citizenmap.png" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="principal-markdown4" style="color:#000000;text-align:center;">
            <h5 id="principal-heading7" style="color:#000000;text-align:center;">Obrigado pela avaliação!</h5>
            <p>Sua avaliação será computada para ser mostrada em nossos mapas.</p>
        </div>
        <button ui-sref="menu.mapas" class="button button-positive button-block">Exibir Mapas</button>
        <button ui-sref="menu.principal" class="button button-positive button-block">Avaliar Outro Serviço</button>
    </ion-content>
</ion-view>