<ion-view title="Avaliação" id="avaliacao" cache-view="false">
    <ion-content padding="true" class="has-header">
        <form novalidate class="list" name="avaliacaoForm" ng-submit="salvarAvaliacao(avaliacaoForm)">
            <div>
                <img ng-src="img/{{servico.imagem}}" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;" />
            </div>
            <div style="color:#000000;text-align:center;">
                <h3><p>{{servico.nome}}</p></h3>
                <h4 ng-click="modal.alterarlocalizacao.show()">{{cidade.title}} <i style="color:#EF473A;" class="icon ion-ios-information"></i></h4>
                <h5>{{bairro.title}}</h5>
                <p>Avalie abaixo o serviço selecionado:</p>
            </div>
            <div>
                <ionic-ratings ratingsobj='ratingsObject' index='$index'></ionic-ratings>
            </div>
            <div style="color:#000000;text-align:center;">
                <p style="margin-top: 10px;">Escolha um dos motivos abaixo para a nota selecionada:</p>
            </div>
            <ion-list>           
                <ion-radio class="item item-text-wrap" name="detalhe" ng-repeat="(chave, valor) in servico.detalhes" ng-value="chave" ng-model="model.detalhe" ng-checked="$index === 1 ? true : false">
                    {{valor}}
                </ion-radio>
            </ion-list>         
            <button type="submit" id="salvar-button" class="button button-positive button-block">Avaliar</button>
        </form>
    </ion-content>
</ion-view>