<ion-view title="Principal" id="principal">
    <ion-content padding="true" class="has-header">
        <div class="button-bar"></div>
        <div>
            <img ng-src="img/citizenmap.png" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h4 style="color:gray; text-align:center;">Avaliação de Serviços Públicos</h4>
        <h5 style="color:#000000;text-align:center;">Selecione o serviço a ser avaliado.</h5>
        <div style="color:#000000;text-align:center;">
            <p>Cada serviço pode ser avaliado <strong>uma</strong> vez por mês. Os itens com fundo <strong><font color="#e9967a">vermelho</font></strong> já foram avaliados por você nesse mês.</p>
        </div>
        <ion-list>
            <ion-item type=button" class="item-thumbnail-left" ng-click="definirServico(servico)" ng-repeat="servico in servicosView"  ng-class="{notactive: !servico.disponibilidade}">
                <img ng-src="img/{{servico.imagem}}">
                <h2>{{servico.nome}}</h2>
                <p style="white-space:normal;">{{servico.descricao}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>