<ion-view title="Cadastro" id="cadastro">
    <ion-content padding="true" class="has-header">
        <form novalidate class="list" name="cadastroForm" ng-submit="cadastrar(cadastroForm)">
            <h5 id="cadastro-heading4" style="color:#000000;text-align:center;"><i class="icon ion-android-person"></i> Perfil</h5>
            <ion-list>
                <label class="item item-input" ng-class="{ 'has-errors' : cadastroForm.txtNome.$invalid && cadastroForm.$submitted }">
                    <input name="txtNome" type="text" ng-model="perfil.nome" placeholder="Nome" ng-minlength="1" ng-maxlength="30" required>
                </label>
                <div class="error-container" ng-show="cadastroForm.txtNome.$error && cadastroForm.$submitted" ng-messages="cadastroForm.txtNome.$error">
                    <div class="error" ng-message="required"><i class="ion-information-circled"></i> Campo obrigatório.</div>
                    <div class="error" ng-message="minlength"><i class="ion-information-circled"></i> Campo com no mínimo 1 dígito.</div>
                    <div class="error" ng-message="maxlength"><i class="ion-information-circled"></i> Campo com no máximo 30 caracteres.</div>
                </div>
                <label class="item item-input" ng-class="{ 'has-errors' : cadastroForm.txtSobrenome.$invalid && cadastroForm.$submitted }">
                    <input name="txtSobrenome" type="text" ng-model="perfil.sobrenome" placeholder="Sobrenome" ng-minlength="1" ng-maxlength="30" required>
                </label>
                <div class="error-container" ng-show="cadastroForm.txtSobrenome.$error && cadastroForm.$submitted" ng-messages="cadastroForm.txtSobrenome.$error">
                    <div class="error" ng-message="required"><i class="ion-information-circled"></i> Campo obrigatório.</div>
                    <div class="error" ng-message="minlength"><i class="ion-information-circled"></i> Campo com no mínimo 1 dígito.</div>
                    <div class="error" ng-message="maxlength"><i class="ion-information-circled"></i> Campo com no máximo 30 caracteres.</div>
                </div>
            </ion-list>
            <h5 id="cadastro-heading5" style="color:#000000;text-align:center;"><i class="icon ion-android-lock"></i> Dados de Acesso</h5>
            <label class="item item-input" ng-class="{ 'has-errors' : cadastroForm.txtEmail.$invalid && cadastroForm.$submitted }">
                <input name="txtEmail" type="email" ng-model="usuario.email" placeholder="E-Mail" ng-minlength="5" ng-maxlength="30" required>
            </label>
            <div class="error-container" ng-show="cadastroForm.txtEmail.$error && cadastroForm.$submitted" ng-messages="cadastroForm.txtEmail.$error">
                <div class="error" ng-message="required"><i class="ion-information-circled"></i> Campo obrigatório.</div>
                <div class="error" ng-message="email"><i class="ion-information-circled"></i> Este campo deve ser um e-mail.</div>
                <div class="error" ng-message="maxlength"><i class="ion-information-circled"></i> Campo com no máximo 30 caracteres.</div>
            </div>
            <label class="item item-input" ng-class="{ 'has-errors' : cadastroForm.txtPassword.$invalid && cadastroForm.$submitted }">
                <input name="txtPassword" type="password" ng-model="usuario.password" placeholder="Senha" ng-minlength="6" ng-maxlength="12" required>
            </label>
            <div class="error-container" ng-show="cadastroForm.txtPassword.$error && cadastroForm.$submitted" ng-messages="cadastroForm.txtPassword.$error">
                <div class="error" ng-message="required"><i class="ion-information-circled"></i> Campo obrigatório.</div>
                <div class="error" ng-message="minlength"><i class="ion-information-circled"></i> Campo com no mínimo 6 dígitos.</div>
                <div class="error" ng-message="maxlength"><i class="ion-information-circled"></i> Campo com no máximo 12 caracteres.</div>
            </div>
            <h5 id="cadastro-headin7" style="color:#000000;text-align:center;"><i class="icon ion-android-locate"></i> Dados de Localização</h5>
            <label class="item item-input item-select">
                <div class="input-label">
                    Bairro
                </div>
                <select name="bairro" ng-model="endereco.bairro" required>
                    <option>Parque Beira Mar</option>
                    <option>Parque Duque</option>
                    <option>Santa Marta</option>
                </select>
            </label>
            <div class="error-container" ng-show="cadastroForm.bairro.$error && cadastroForm.$submitted" ng-messages="cadastroForm.bairro.$error">
                <div class="error" ng-message="required"><i class="ion-information-circled"></i> Campo obrigatório.</div>
            </div>
            <label class="item item-input item-select">
                <div class="input-label">
                    Cidade
                </div>
                <select name="cidade" ng-model="endereco.cidade" required>
                    <option>Duque de Caixas</option>
                    <option>Rio de Janeiro</option>
                    <option>Niterói</option>
                </select>
            </label>
            <div class="error-container" ng-show="cadastroForm.cidade.$error && cadastroForm.$submitted" ng-messages="cadastroForm.cidade.$error">
                <div class="error" ng-message="required"><i class="ion-information-circled"></i> Campo obrigatório.</div>
            </div>
            <h5 id="cadastro-heading6" style="color:#000000;text-align:center;"> <i class="icon ion-android-settings"></i> Configurações</h5>
            <ion-checkbox name="alertaemail" ng-model="configuracao.email" ng-init="configuracao.email = true">Enviar Alertas de E-Mail</ion-checkbox>
            <button type="submit" id="cadastro-button" class="button button-positive button-block">Finalizar Cadastro</button>
        </form>
    </ion-content>
</ion-view>