<ion-view title="Serviços" hide-back-button="true" id="servicos">
    <ion-content padding="true" class="has-header">
        <div class="button-bar"></div>
        <div>
            <img src="img/citizenmap.png" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h5 id="principal-heading7" style="color:#000000;text-align:center;">Administração de Serviços:</h5>
        <div id="principal-markdown4" style="color:#000000;text-align:center;">
            <p>Funcionalidade para cadastro de edição de serviços.</p>
        </div>
        <ion-list>
            <button ui-sref="menu.servicos.cadastro" class="button button-positive button-block">Cadastrar Serviço</button>
        </ion-list> 
    </ion-content>
</ion-view>